.chat__room__container {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.chat__title {
    display: flex;
    align-items: center;
    font-size: 12px;
    height: 54px;
    font-family: 'Segoe UI Bold';
    border-bottom: 1px solid var(--input-background);
}

.chat__title span {
    margin: 0 12px 0 16px;
    color: var(--text-grey);
}

.chat__title img {
    height: 12px;
}

.conversation__window {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 80%;
    padding: 10px 15px;
    overflow: overlay;
}

.chatbox__input {
    padding: 0 14px;
}

.chatbox__input .chat__box__separator {
    height: 1px;
    width: 100%;
    background-color: var(--input-background);
}

.chatbox__input input {
    background-color: var(--input-background);
    border: none;
    width: 100%;
    margin: 14px 0;
    border-radius: 4px;
    font-size: 12px;
    padding: 10px 16px 10px 16px;
    outline: none;
    color: var(--input-text);
    transition: 0.4s ease;
}

.chatbox__input input::placeholder {
    color: var(--input-text);
}

.populated__chat__box {
    padding: 10px 86px 10px 26px !important;
}

.chatbox__input svg {
    height: 17px;
}

.chat__box__option {
    position: absolute;
    right: 30px;
    top: 35%;
    display: flex;
    align-items: center;
}

.chat__box__option .emoji__icon {
    height: 18px;
    cursor: pointer;
    color: var(--asset-shade);
}

.chat__box__option .emoji__icon:hover {
    color: var(--primary-purple);
}

.option__separator {
    height: 100%;
    height: 22px;
    width: 1px;
    margin: 0 12px;
    background-color: var(--separator-shade);
}

.message__container {
    display: flex;
    align-items: flex-start;
    animation: fade-in-up 0.5s ease;
}

.message__body {
    color: var(--text-grey);
    margin: 15px 0;
}

.message__body .message__timestamp {
    font-size: 11px;
    margin: 0 0 5px 0;
}

.message__body .message__text {
    font-size: 12px;
    font-weight: 500;
    background-color: var(--input-background);
    width: fit-content;
    padding: 10px 15px;
    border-radius: 6px;
    overflow-wrap: anywhere;
    max-width: 500px;
}

.self__message {
    display: flex;
    justify-content: flex-end;
}

.self__message .message__text {
    background-color: var(--primary-purple) !important;
    color: var(--white) !important;
}

.user__avatar {
    height: 40px;
    width: 40px;
    border: 1px solid var(--input-background);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px 15px 0 0;
    overflow: hidden;
}

.user__avatar__container .online__status__dot {
    position: absolute;
    bottom: 0px;
    right: 9px;
}

.user__avatar img {
    max-height: 100%;
    max-width: 100%;
}

.send__btn {
    border: none;
    padding: 0;
    background-color: transparent;
    line-height: 0;
}

.is__typing__container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 0 8px 0;
}