.is__typing__message {
    font-size: 12px;
    color: var(--light-shade-black);
    display: flex;
}

.waiting__dots {
    display: flex;
    align-items: flex-end;
    margin: 0 6px 4px 6px;
}

.waiting__dots .waiting__dot {
    margin: 0 1.6px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    transition: .6s ease-out;
    background-color: var(--waiting-dots);
}

.selected__waiting__dot {
    transform: translateY(-4px);
}
