.side__bar__container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  background: linear-gradient(
    0.25turn,
    var(--dark-purple) 20%,
    var(--dark-pink)
  );
  border: 2px solid var(--white);
  border-radius: 12px;
}

.side__bar__parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  height: 100%;
}

.converse__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

.converse__logo img {
  height: 90px;
}

.side__bar__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
}

.profile__image {
  height: 130px;
  width: 130px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border-radius: 50%;
  border: 2px solid var(--white);
}

.side__bar__options {
  display: flex;
  flex-grow: 1;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 0 0;
}

.selected__option {
  color: var(--dark-purple) !important;
  background-color: var(--white) !important;
}

.selected__option:hover {
  background-color: var(--white) !important;
}

.side__bar__options .option {
  display: flex;
  align-items: center;
  margin: 6px 0;
  width: 60%;
  padding: 8px 10px;
  font-size: 12px;
  font-weight: 500;
  color: var(--white);
  cursor: pointer;
  border-radius: 14px;
}

.side__bar__options .option span {
  margin: 0 0 0 10px;
}

.side__bar__options .option img {
  height: 14px;
}

.side__bar__options .option:hover {
  background-color: rgba(211, 160, 160, 0.1);
}

/* Make icons size stationary */
.manageProfile img {
  height: 16.5px !important;
}

.logout img {
  height: 12px !important;
}

.manage__profile__container {
  width: 340px;
  background-color: var(--white);
  border-radius: 10px;
  overflow: hidden;
}

.manage__profile__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 26px;
  color: var(--modal-heading);
  font-size: 14px;
  font-weight: 600;
  box-shadow: 0 0px 12px var(--modal-heading-shadow);
}

.profile__picture {
  display: flex;
  justify-content: center;
}

.profile__picture .profile__img {
  height: 80px;
  width: 80px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border-radius: 50%;
  margin: 0 0 20px 0;
  border: 2px solid var(--input-background);
}

.set__profile__btn label {
  cursor: pointer;
  border: none;
  padding: 11px 40px;
  border: 100px;
  background-color: var(--primary-purple);
  font-size: 10px;
  color: var(--white);
  border-radius: 50px;
  font-weight: 500;
  box-shadow: 0 6px 20px 0px var(--box-shadow-primary);
}

.manage__profile__body {
  padding: 20px 20px;
}

.profile__details__container {
  padding: 20px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__details__parent .profile__details__icon img {
  height: 16px;
}

.profile__details__parent {
  display: flex;
  align-items: center;
  width: 75%;
  margin: 0 0 10px 0;
}

.profile__detail__field {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  font-size: 10px;
}

.profile__detail__field label {
  margin:  0 !important;
}

.user__icon .profile__detail__field {
  margin: 0 25px !important;
}

.profile__picture__view img {
  transform: scale(1.5);
}

.profile__picture__view__dismiss__btn {
  position: fixed;
  top: 0;
  right: 0;
  height: 60px;
  width: 60px;
  font-size: 24px;
  color: var(--light-grey);
}