:root {
  --secondary-light-purple: #CEC7FF;
  --primary-purple: #8472FC;
  --dark-purple:  #6E41C3;
  --dark-pink: #A555B2;
  --white: #ffff;
  --off-white: #F6F6FD;
  --light-grey: #ABABAF;
  --heading-font: #585858;
  --subHeading-font: #4B4B4B;
  --input-background: #F0F0FB;
  --input-text: #B6B9C3;
  --error-red: #E8230C;
  --box-shadow-primary: #8472fc6e;
  --toast-notification-error: #ff6b6b;
  --toast-box-error-shadow: #ff8b7f7d
}