@import "../src/app/utilities/Animations.css";

@font-face {
  font-family: 'Segoe UI Regular';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/Segoe\ UI.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Segoe UI Bold';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/Segoe\ UI\ Bold.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Segoe UI Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/Segoe\ UI\ Bold\ Italic.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Segoe UI Italic';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/Segoe\ UI\ Italic.woff') format('woff');
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
    margin: 0;
    background: linear-gradient(0.25turn, var(--dark-purple) 40%, var(--dark-pink));
    font-family: 'Segoe UI Regular';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ::-webkit-scrollbar {
    width: 6px!important;
    height: 6px!important;
  }
  
  body ::-webkit-scrollbar-thumb {
    background-color: hsla(0,0%,100%,.16);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
  }
  
  ::-webkit-scrollbar-track {
    background: hsla(0,0%,100%,.1);
  }

  .main__container {
    width: 1366px;
    height: 768px;
    overflow: hidden;
    background-color: var(--white);
  }

  .cursor-pointer{
    cursor: pointer;
  }

  .red-border {
    border: 1px solid var(--error-red) !important;
  }

  .primary-btn {
    background-color: var(--primary-purple);
    border: none;
    font-weight: 500;
    border-radius: 50px;
    color: var(--white);
    font-size: 12px;
    transition: 0.2s ease;
    box-shadow: 0 8px 14px 0px var(--box-shadow-primary);
  }

  /* Toast Notification Stylings */
  .Toastify__toast--error {
    background-color: var(--toast-notification-error) !important;
    box-shadow: 0 2px 10px var(--toast-box-error-shadow) !important;
    border: none;
  }

  .Toastify__toast--success {
    background: var(--primary-purple) !important;
    box-shadow: 0 2px 10px var(--box-shadow-primary) !important;
    border: none;
  }

  @media screen and (min-height: 769px) and (min-width: 1366px) {
    .main__container {
      border-radius: 10px;
    }
  }

  @media screen and (max-width: 1366px) {
    .main__container {
      width: 100vw;
      height: 100vh;
    }
  }