.home__container {
    animation: pop-up 0.4s ease; 
    position: relative;
}

@keyframes pop-up {
    0% {
        opacity: 0;
        transform: scale(2)
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}