.auth__container {
    height: 100%;
    width: 100%;
}

.auth__carousal {
    height: 100%;
    width: 72%;
    background-color: var(--off-white);
}

.auth__carousal__container { 
    height: fit-content;
    width: fit-content;
}

.auth__carousal__parent {
    height: 68%;
}

.auth__heading__parent {
    height: 32%;
    padding: 0 0 0 58px;
}

.auth__heading__parent .auth__heading {
    font-size: 54px;
    color: var(--heading-font);
    font-family: 'Segoe UI Regular';
}

.auth__heading__parent .auth__heading span {
    color: var(--primary-purple);
    font-family: 'Segoe UI Bold';
}

.auth__subHeading {
    font-size: 24px;
    color: var(--subHeading-font);
}

.auth__subHeading span{
    font-family: 'Segoe UI Bold';
}

.auth__forms {
    width: 28%;
    padding: 28px 60px;
}

.auth__logo {
    margin: 48px 0 0 0;
}

.auth__switch {
    display: flex;
    height: 40px;
    width: 160px;
    margin: 30px 0 0 0;
    padding: 4px;
    border-radius: 40px;
    background-color: var(--secondary-light-purple);
}

.auth__switch .switch {
    height: 100%;
    width: 80px;
    border-radius: 50px;
    transition: 0.5s ease-in-out;
    background-color: var(--primary-purple);
}

.switch__options {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding: 4px 8px;
    top: 0px;
    left: 0;
    font-size: 10px;
    font-weight: 500;
}

.switch__options span{
    cursor: pointer;
    height: 100%;
    width: 50%;
    color: var(--white) !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle__auth__switch {
    transform: translateX(72px);
}

.text-field-container {
    margin: 0 0 24px 0;
}

.text-field-container input {
    border-radius: 6px;
    outline: none;
    border: none;
    font-size: 12px;
    padding: 10px 55px;
    min-width: 120px;
    transition: padding 1s ease-out;
    background-color: var(--input-background);
    color: var(--input-text);
}

.input__with__value {
    padding: 10px 55px !important;
}

.text-field-container input::placeholder {
    color: var(--input-text);
}

.email__field input {
    background-image: url("../../assets/authentication/user.svg");
    background-repeat: no-repeat;
    background-position-x: 18px;
    background-position-y: center;
    background-size: 12px;
}

.password__field input {
    background-image: url("../../assets/authentication/lock.svg");
    background-repeat: no-repeat;
    background-position-x: 18px;
    background-position-y: center;
    background-size: 12px;
}

.name__field input {
    background-image: url("../../assets/authentication/email.svg");
    background-repeat: no-repeat;
    background-position-x: 18px;
    background-position-y: center;
    background-size: 18px;
}

.fade-enter {
    opacity: 0;
    transform: translateY(10px);
  }
  
  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: all .5s ease;
    transform: translateY(0px);
  }

  .fade-exit {
      display: none;
  }
  
  .text-field-error {
      font-size: 12px;
      color: var(--error-red);
  }